/* ----------------------
Main
------------------------- */
.main {
    position: relative;
    width: 100vw;
    max-width: 100%;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
/* -----------------------
Navbar
------------------------ */
.navbar {
    justify-content: center;
}
/* -----------------------
Form
-------------------------*/
.form-container {
    min-height: 100vh;
    width: 100%;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    width: 40%;
    padding: 50px;
}
.form-row {
    padding: 2px;
    margin-bottom: 4px;
}
.form-row-inline {
    display: flex;
    justify-content: space-between;
}
.label {

}
.form-row ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.form-row li {
    display: flex;
}
input:not([type=checkbox]), textarea {
    margin-bottom: 5px;
    width: 100%;
}
.form-buttons {
    margin-top: 10px;
}
@media only screen and (max-width: 992px) {
    .form-wrapper {
        width: 80%;
    }
}
/* -----------------------
Table
-------------------------*/
.table-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
.table-wrapper {
    width: 90%;
    padding: 50px;
    overflow-x: auto;
}
.table-header a {
    display: none;
}
.table-header:hover a {
    display: inline;
}
table {
    width: 100%;
    margin-top: 25px;
}
th, td {
    width: 10%;
}

/* ---------------------
Personal Data form
-----------------------*/
.form-buttons, .table-controls {
    display: flex;
}