{% extends 'base.html' %}


{% block title %}
<title>Add new Member</title>
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-wrapper">
        <form action="{{ url_for('all_members') }}" method="post">
            {{ form.csrf_token }}
            <div class="form-row">
                {{ form.role.label }}{{ form.role(class_="form-select") }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.gender.label }}{{ form.gender }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.full_name.label }}</div>
                {{ form.full_name(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.date_of_birth.label }}</div>
                {{ form.date_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.place_of_birth.label }}</div>
                {{ form.place_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.complete_address.label }}</div>
                {{ form.complete_address(class_="form-control") }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.deceased.label }}{{ form.deceased(class_="form-check-input") }}
            </div>
            <div class="form-row">
                {{ form.mother_id.label }}{{ form.mother_id(class_="form-select") }}
            </div>
            <div class="form-row">
                {{ form.father_id.label }}{{ form.father_id(class_="form-select") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_full_name.label }}</div>
                {{ form.spouse_full_name(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_date_of_birth.label }}</div>
                {{ form.spouse_date_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_place_of_birth.label }}</div>
                {{ form.spouse_place_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.inlaws_full_name.label }}</div>
                {{ form.inlaws_full_name(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.father_inlaws_full_address.label }}</div>
                {{ form.father_inlaws_full_address(class_="form-control") }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.father_inlaws_deceased.label }}{{ form.father_inlaws_deceased(class_="form-check-input") }}
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="table-container" id="table">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Nama Lengkap</td>
                    <td>Tanggal Lahir</td>
                    <td>Tempat Lahir</td>
                    <td>Alamat Lengkap</td>
                    <td>Almarhum</td>
                    <td>Nama lengkap Suami/Istri</td>
                    <td>Tanggal Lahir Suami/Istri</td>
                    <td>Tempat Lahir Suami/Istri</td>
                    <td>Nama lengkap Mertua</td>
                    <td>Alamat lengkap Mertua</td>
                    <td>Almarhum Mertua</td>
                </tr>
            </thead>
            <tbody>
            {% for member in rows %}
                <tr>
                    <td>
                        <a href="{{ url_for('member_by_id', _id=member.id) }}">{{ member.full_name }}</a>
                    </td>
                    <td>
                        {{ member.date_of_birth }}
                    </td>
                    <td>
                        {{ member.place_of_birth }}
                    </td>
                    <td>
                        {{ member.complete_address }}
                    </td>
                    <td>
                        {{ member.deceased }}
                    </td>
                    <td>
                        {{ member.spouse_full_name }}
                    </td>
                    <td>
                        {{ member.spouse_date_of_birth }}
                    </td>
                    <td>
                        {{ member.spouse_place_of_birth }}
                    </td>
                    <td>
                        {{ member.inlaws_full_name }}
                    </td>
                    <td>
                        {{ member.father_inlaws_full_address }}
                    </td>
                    <td>
                        {{ member.father_inlaws_deceased }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
