{% extends 'base.html' %}


{% block title %}
<title>Update Member data</title>
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-wrapper">
        <form action="{{ url_for('member_by_id', _id=member.id) }}" method="post">
            {{ form.csrf_token() }}
            <div class="form-row">
                {{ form.role.label }}{{ form.role(class_="form-select") }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.gender.label }}{{ form.gender }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.full_name.label }}</div>
                {{ form.full_name(class_="form-control", placeholder=member.full_name) }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.date_of_birth.label }}</div>
                {{ form.date_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.place_of_birth.label }}</div>
                {{ form.place_of_birth(class_="form-control", placeholder=member.place_of_birth) }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.complete_address.label }}</div>
                {{ form.complete_address(class_="form-control", placeholder=member.complete_address) }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.deceased.label }}{{ form.deceased(class_="form-check-input") }}
            </div>
            <div class="form-row">
                {{ form.mother_id.label }}{{ form.mother_id(class_="form-select") }}
            </div>
            <div class="form-row">
                {{ form.father_id.label }}{{ form.father_id(class_="form-select") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_full_name.label }}</div>
                {{ form.spouse_full_name(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_date_of_birth.label }}</div>
                {{ form.spouse_date_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.spouse_place_of_birth.label }}</div>
                {{ form.spouse_place_of_birth(class_="form-control") }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.inlaws_full_name.label }}</div>
                {{ form.inlaws_full_name(class_="form-control", placeholder=member.inlaws_full_name) }}
            </div>
            <div class="form-row">
                <div class="label">{{ form.father_inlaws_full_address.label }}</div>
                {{ form.father_inlaws_full_address(class_="form-control", placeholder=member.father_inlaws_full_address) }}
            </div>
            <div class="form-row form-row-inline">
                {{ form.father_inlaws_deceased.label }}{{ form.father_inlaws_deceased(class_="form-check-input") }}
            </div>
            <div class="form-buttons" role="group">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-primary" href="{{ url_for('delete_member', _id=member.id) }}" type="button">Menghapus</a>

                {% if member.mother or member.father %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_parents', _id=member.id) }}">Orangtua</a>
                {% endif %}

                {% if member.fchildren or member.mchildren %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_children', _id=member.id) }}">Anak-anak</a>
                {% endif %}

                {% if member.mmgrandchildren or member.mfgrandchildren or member.fmgrandchildren or member.ffgrandchildren %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_grandchildren', _id=member.id) }}">Cucu</a>
                {% endif %}

                {% if member.grandmother_by_mother or member.grandfather_by_mother or member.grandmother_by_father or member.grandfather_by_father %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_grandparents', _id=member.id) }}">Kakek-nenek</a>
                {% endif %}

                {% if member.mmmgrandchildren or member.fmmgrandchildren or member.mfmgrandchildren or member.ffmgrandchildren or member.mmfgrandchildren or member.fmfgrandchildren or member.mffgrandchildren or member.fffgrandchildren %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_grandgrand_children', _id=member.id) }}">Cicit</a>
                {% endif %}

                {% if member.grandmother_by_grandmother_by_mother or member.grandfather_by_grandmother_by_mother or member.grandmother_by_grandfather_by_mother or member.grandfather_by_grandfather_by_mother or member.grandmother_by_grandmother_by_father or member.grandfather_by_grandmother_by_father or member.grandmother_by_grandfather_by_father or member.grandfather_by_grandfather_by_father %}
                <a class="btn btn-primary" type="button" href="{{ url_for('get_grandgrand_parents', _id=member.id) }}">Buyut</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}